body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: 
    linear-gradient(rgba(57, 82, 205, 0.04), rgba(57, 82, 205, 0.04)), /* Blue overlay with 4% opacity */
    #FEFBFF; /* Solid light purple background */
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

main {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 100vh;
}

.perDrawerContainer {
  height: 100vh;
}

.child1DrawerContainer {
  padding: 12px 16px;
}

.child2DrawerContainer {
  padding-top: 12px;
  padding-left: 16px; 
  height: calc(100vh - 200px);
}

.spBtwnDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
}

.scrollBar {
  height: 100%;
  overflow: auto;
  padding-right: 16px;
  padding-bottom: 48px;
  padding-top: 4px;
}

.scrollBar2 {
  height: 100vh;
  overflow: auto;
  padding: 16px;
}

.tableContainerBox {
  height: 100vh;
  min-width: 720px;
  padding: 16px;
}

.tableToolbar {
  justify-content: space-between;
}

.tableBox {
  height: calc(100vh - 128px);
  overflow-y: auto;
}