<div class="table" id="guardrail-table" hx-swap-oob="$swapOOB">
  <div class="column-gr-name">
    <div class="header-cell">
      <div class="text-wrapper-6">Name</div>
    </div>
    $fstColumn
  </div>
  <div class="column-leader">
    <div class="header-cell-2">
      <div class="text-wrapper-6">Message</div>
    </div>
    $messageColumn
  </div>
  <div class="column-2">
    <div class="header-cell-2">
      <div class="text-wrapper-6">Parameter</div>
    </div>
    $parameterColumn
  </div>
</div>
