<div class="main">
  <div class="main-section">
    $tabs
    <div class="search-row">
      <button class="button-2">
        <div class="state-layer-3">
          <img class="img" src="img/icon-4.svg" />
          <div class="label-text-9">Export Guardrail Results</div>
        </div>
      </button>
      <div class="search-bar">
        <div class="state-layer-5">
          <div class="supporting-text-wrapper">
            <div class="supporting-text-2">
              &nbsp;&nbsp;&nbsp;&nbsp;Search...
            </div>
          </div>
          <div class="trailing-elements">
            <div class="container-wrapper-2">
              <div class="container-3">
                <div class="icon-wrapper">
                  <img class="icon-2" src="img/icon-17.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    $table
  </div>
</div>
