<div class="search-bar">
  &nbsp;&nbsp;&nbsp;&nbsp;<input
    type="text"
    placeholder="Filter..."
    class="search-input"
    name="searchInput"
    hx-post=""
    hx-target="#inputs"
    hx-swap="innerHTML"
    hx-trigger="input changed delay:500ms, search"
  />
  <div class="trailing-elements">
    <div class="container-wrapper-2">
      <div class="container-3">
        <div class="icon-wrapper">
          <img class="icon-2" src="img/icon-17.svg" />
        </div>
      </div>
    </div>
  </div>
</div>
