body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: 
    linear-gradient(rgba(57, 82, 205, 0.04), rgba(57, 82, 205, 0.04)), /* Blue overlay with 4% opacity */
    #FEFBFF; /* Solid light purple background */
}

main {
  display: grid;
  grid-template-columns: 350px auto;
  grid-template-rows: 100vh;
}

