.desktop-frame {
  background-color: #3952cd0a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-frame .div {
  background-color: var(--primitives-color-primary-primary-40-opacity-4);
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  position: relative;
}

.desktop-frame .overlap {
  position: absolute;
  width: 461px;
  height: 1080px;
  top: 1px;
  left: 0;
  background-color: var(--tokens-primary-light-on-primary);
  box-shadow: var(--drop-shadow-styles-shadow-small);
}

.desktop-frame .rectangle {
  position: absolute;
  width: 13px;
  height: 138px;
  top: 359px;
  left: 448px;
  background-color: var(--tokens-neutrals-light-surface-variant);
}

.desktop-frame .overlap-group {
  position: absolute;
  width: 413px;
  height: 108px;
  top: 169px;
  left: 25px;
}

.desktop-frame .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 413px;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 68px;
  left: 0;
  background-color: var(--tokens-primary-light-primary);
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 24px 10px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.desktop-frame .icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.desktop-frame .label-text {
  font-weight: var(--m3-label-large-font-weight);
  color: var(--tokens-primary-light-on-primary);
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-label-large-font-family);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.desktop-frame .segmented-button {
  display: flex;
  width: 413px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.desktop-frame .segment-start {
  width: 104px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
}

.desktop-frame .container {
  display: flex;
  flex-direction: column;
  width: 104px;
  align-self: stretch;
  border-radius: 100px 0px 0px 100px;
  border: 1px solid;
  border-color: var(--tokens-neutrals-light-outline);
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.desktop-frame .state-layer-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 12px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: var(--tokens-primary-light-primary-container);
}

.desktop-frame .selected-icon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: -3.5px;
}

.desktop-frame .text-wrapper {
  margin-right: -3.5px;
  font-weight: var(--m3-label-large-font-weight);
  color: var(--tokens-primary-light-on-primary-container);
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-label-large-font-family);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.desktop-frame .segment {
  width: 89px;
  margin-left: -1px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
}

.desktop-frame .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border: 1px solid;
  border-color: var(--tokens-neutrals-light-outline);
}

.desktop-frame .label-text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 12px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.desktop-frame .label-text-2 {
  font-weight: var(--m3-label-large-font-weight);
  color: var(--tokens-neutrals-light-surface);
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-label-large-font-family);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.desktop-frame .container-wrapper {
  width: 116px;
  margin-left: -1px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
}

.desktop-frame .label-text-3 {
  margin-left: -0.5px;
  margin-right: -0.5px;
  font-weight: var(--m3-label-large-font-weight);
  color: var(--tokens-neutrals-light-surface);
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-label-large-font-family);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.desktop-frame .segment-end {
  flex: 1;
  flex-grow: 1;
  margin-left: -1px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
}

.desktop-frame .div-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 0px 100px 100px 0px;
  border: 1px solid;
  border-color: var(--tokens-neutrals-light-outline);
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.desktop-frame .label-text-4 {
  margin-left: -4px;
  margin-right: -4px;
  font-weight: var(--m3-label-large-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-label-large-font-family);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.desktop-frame .click {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 27px;
  left: 73px;
  object-fit: cover;
}

.desktop-frame .icon-button {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 114px;
  left: 390px;
}

.desktop-frame .container-2 {
  display: inline-flex;
  gap: 10px;
  flex: 0 0 auto;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.desktop-frame .state-layer-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-frame .unselected-icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin-bottom: -588px;
  margin-right: -1418px;
}

.desktop-frame .img {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: -24px;
}

.desktop-frame .text-wrapper-2 {
  position: absolute;
  top: 32px;
  left: 75px;
  font-family: var(--text-styles-h5-desktop-medium-24-font-family);
  font-weight: var(--text-styles-h5-desktop-medium-24-font-weight);
  color: var(--tokens-primary-light-primary);
  font-size: var(--text-styles-h5-desktop-medium-24-font-size);
  letter-spacing: var(--text-styles-h5-desktop-medium-24-letter-spacing);
  line-height: var(--text-styles-h5-desktop-medium-24-line-height);
  white-space: nowrap;
  font-style: var(--text-styles-h5-desktop-medium-24-font-style);
}

.desktop-frame .untitled-design {
  position: absolute;
  width: 34px;
  height: 33px;
  top: 32px;
  left: 25px;
  object-fit: cover;
}

.desktop-frame .horizontal-full {
  display: flex;
  flex-direction: column;
  width: 461px;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 95px;
  left: 0;
}

.desktop-frame .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.desktop-frame .text-wrapper-3 {
  position: absolute;
  width: 289px;
  top: 125px;
  left: 31px;
  font-family: var(--text-styles-h5-mobile-medium-20-font-family);
  font-weight: var(--text-styles-h5-mobile-medium-20-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-h5-mobile-medium-20-font-size);
  letter-spacing: var(--text-styles-h5-mobile-medium-20-letter-spacing);
  line-height: var(--text-styles-h5-mobile-medium-20-line-height);
  font-style: var(--text-styles-h5-mobile-medium-20-font-style);
}

.desktop-frame .text-field {
  width: 399px;
  height: 56px;
  position: absolute;
  top: 441px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-field-2 {
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--tokens-neutrals-light-outline);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .state-layer-4 {
  display: flex;
  align-items: flex-start;
  padding: 4px 0px 4px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px 4px 0px 0px;
}

.desktop-frame .content {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: flex-start;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.desktop-frame .input-text {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.desktop-frame .input-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--tokens-neutrals-light-surface);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.desktop-frame .label-text-5 {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
  left: -4px;
  background-color: var(--tokens-primary-light-on-primary);
}

.desktop-frame .label-text-6 {
  font-weight: var(--m3-body-small-font-weight);
  color: var(--tokens-primary-light-primary);
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.desktop-frame .container-wrapper-2 {
  flex-direction: column;
  width: 48px;
  height: 48px;
  justify-content: center;
  gap: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.desktop-frame .icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-frame .icon-2 {
  position: relative;
  width: 24px;
  height: 24px;
}

.desktop-frame .text-field-3 {
  width: 399px;
  position: absolute;
  top: 515px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-field-4 {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--tokens-neutrals-light-outline);
}

.desktop-frame .text-field-5 {
  width: 399px;
  position: absolute;
  top: 589px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.desktop-frame .label-text-7 {
  font-weight: var(--m3-body-small-font-weight);
  color: var(--tokens-neutrals-light-surface);
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.desktop-frame .text-field-6 {
  width: 399px;
  position: absolute;
  top: 663px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-field-7 {
  width: 399px;
  position: absolute;
  top: 737px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-field-8 {
  width: 399px;
  position: absolute;
  top: 959px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-field-9 {
  width: 399px;
  height: 56px;
  position: absolute;
  top: 810px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-field-10 {
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--tokens-error-light-error);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .placeholder-text {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop-frame .label-text-8 {
  font-weight: var(--m3-body-small-font-weight);
  color: var(--tokens-error-light-error);
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.desktop-frame .supporting-text {
  display: flex;
  width: 399px;
  height: 20px;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 16px 0px;
  position: absolute;
  top: 56px;
  left: 0;
}

.desktop-frame .text-field-11 {
  width: 399px;
  height: 56px;
  position: absolute;
  top: 885px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .text-wrapper-5 {
  position: absolute;
  width: 289px;
  top: 318px;
  left: 31px;
  font-family: var(--text-styles-h5-mobile-medium-20-font-family);
  font-weight: var(--text-styles-h5-mobile-medium-20-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-h5-mobile-medium-20-font-size);
  letter-spacing: var(--text-styles-h5-mobile-medium-20-letter-spacing);
  line-height: var(--text-styles-h5-mobile-medium-20-line-height);
  font-style: var(--text-styles-h5-mobile-medium-20-font-style);
}

.desktop-frame .text-field-12 {
  width: 399px;
  position: absolute;
  top: 368px;
  left: 25px;
  border-radius: 4px 4px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desktop-frame .overlap-group-2 {
  position: absolute;
  width: 1486px;
  height: 999px;
  top: 43px;
  left: 488px;
}

.desktop-frame .rectangle-2 {
  position: absolute;
  width: 1401px;
  height: 999px;
  top: 0;
  left: 2px;
  background-color: var(--tokens-primary-light-on-primary);
  border-radius: var(--primitives-spacing-spacing-big);
  box-shadow: var(--drop-shadow-styles-shadow-small);
}

.desktop-frame .text-wrapper-6 {
  position: absolute;
  width: 209px;
  top: 31px;
  left: 62px;
  font-family: var(--text-styles-h5-mobile-medium-20-font-family);
  font-weight: var(--text-styles-h5-mobile-medium-20-font-weight);
  color: var(--tokens-primary-light-primary);
  font-size: var(--text-styles-h5-mobile-medium-20-font-size);
  letter-spacing: var(--text-styles-h5-mobile-medium-20-letter-spacing);
  line-height: var(--text-styles-h5-mobile-medium-20-line-height);
  font-style: var(--text-styles-h5-mobile-medium-20-font-style);
}

.desktop-frame .text-wrapper-7 {
  position: absolute;
  width: 185px;
  top: 31px;
  left: 312px;
  font-family: var(--text-styles-h5-mobile-medium-20-font-family);
  font-weight: var(--text-styles-h5-mobile-medium-20-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-h5-mobile-medium-20-font-size);
  text-align: center;
  letter-spacing: var(--text-styles-h5-mobile-medium-20-letter-spacing);
  line-height: var(--text-styles-h5-mobile-medium-20-line-height);
  font-style: var(--text-styles-h5-mobile-medium-20-font-style);
}

.desktop-frame .rectangle-3 {
  position: absolute;
  width: 1403px;
  height: 65px;
  top: 155px;
  left: 0;
  background-color: var(--tokens-primary-light-primary-opacity-8);
}

.desktop-frame .text-wrapper-8 {
  position: absolute;
  width: 304px;
  top: 180px;
  left: 105px;
  font-family: var(--text-styles-p-large-medium-18-font-family);
  font-weight: var(--text-styles-p-large-medium-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-medium-18-font-size);
  letter-spacing: var(--text-styles-p-large-medium-18-letter-spacing);
  line-height: var(--text-styles-p-large-medium-18-line-height);
  font-style: var(--text-styles-p-large-medium-18-font-style);
}

.desktop-frame .text-wrapper-9 {
  position: absolute;
  width: 304px;
  top: 180px;
  left: 599px;
  font-family: var(--text-styles-p-large-medium-18-font-family);
  font-weight: var(--text-styles-p-large-medium-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-medium-18-font-size);
  letter-spacing: var(--text-styles-p-large-medium-18-letter-spacing);
  line-height: var(--text-styles-p-large-medium-18-line-height);
  font-style: var(--text-styles-p-large-medium-18-font-style);
}

.desktop-frame .text-wrapper-10 {
  position: absolute;
  width: 304px;
  top: 180px;
  left: 1182px;
  font-family: var(--text-styles-p-large-medium-18-font-family);
  font-weight: var(--text-styles-p-large-medium-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-medium-18-font-size);
  letter-spacing: var(--text-styles-p-large-medium-18-letter-spacing);
  line-height: var(--text-styles-p-large-medium-18-line-height);
  font-style: var(--text-styles-p-large-medium-18-font-style);
}

.desktop-frame .divider-wrapper {
  width: 1399px;
  top: 76px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .img-wrapper {
  width: 1374px;
  top: 151px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-2 {
  width: 1374px;
  top: 216px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-3 {
  width: 1374px;
  top: 281px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-4 {
  width: 1374px;
  top: 346px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-5 {
  width: 1374px;
  top: 476px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-6 {
  width: 1374px;
  top: 411px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-7 {
  width: 1374px;
  top: 541px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-8 {
  width: 1374px;
  top: 606px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-9 {
  width: 1374px;
  top: 671px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-10 {
  width: 1374px;
  top: 736px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-11 {
  width: 1374px;
  top: 801px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .rectangle-4 {
  position: absolute;
  width: 20px;
  height: 200px;
  top: 151px;
  left: 1382px;
  background-color: var(--tokens-neutrals-light-surface-variant);
}

.desktop-frame .text-wrapper-11 {
  position: absolute;
  width: 304px;
  top: 241px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-12 {
  position: absolute;
  width: 304px;
  top: 241px;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse {
  top: 248px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-13 {
  position: absolute;
  width: 304px;
  top: 306px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-14 {
  width: 304px;
  top: 306px;
  position: absolute;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-2 {
  top: 313px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-15 {
  position: absolute;
  width: 304px;
  top: 371px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-16 {
  width: 304px;
  top: 371px;
  position: absolute;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-3 {
  top: 378px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-17 {
  position: absolute;
  width: 304px;
  top: 436px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-18 {
  position: absolute;
  width: 304px;
  top: 436px;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-4 {
  top: 443px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-19 {
  position: absolute;
  width: 304px;
  top: 502px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-20 {
  width: 392px;
  top: 502px;
  position: absolute;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-5 {
  top: 509px;
  background-color: #cd3939;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-21 {
  position: absolute;
  width: 304px;
  top: 566px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-22 {
  width: 338px;
  top: 566px;
  position: absolute;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-6 {
  top: 573px;
  background-color: #cd3939;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-23 {
  position: absolute;
  width: 304px;
  top: 631px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-24 {
  width: 304px;
  top: 631px;
  position: absolute;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-7 {
  top: 638px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-25 {
  position: absolute;
  width: 304px;
  top: 697px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-26 {
  top: 697px;
  position: absolute;
  width: 304px;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-8 {
  top: 704px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .horizontal-full-12 {
  width: 1374px;
  top: 866px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .horizontal-full-13 {
  width: 1374px;
  top: 931px;
  display: flex;
  flex-direction: column;
  height: 9px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 2px;
}

.desktop-frame .text-wrapper-27 {
  top: 763px;
  position: absolute;
  width: 304px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-28 {
  width: 304px;
  top: 763px;
  position: absolute;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-9 {
  top: 770px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-29 {
  position: absolute;
  width: 304px;
  top: 826px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-30 {
  top: 826px;
  position: absolute;
  width: 304px;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-10 {
  top: 833px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-31 {
  top: 891px;
  position: absolute;
  width: 304px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-32 {
  position: absolute;
  width: 304px;
  top: 891px;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-11 {
  top: 898px;
  background-color: var(--tokens-neutrals-dark-outline);
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .text-wrapper-33 {
  position: absolute;
  width: 304px;
  top: 956px;
  left: 105px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .text-wrapper-34 {
  position: absolute;
  width: 304px;
  top: 956px;
  left: 599px;
  font-family: var(--text-styles-p-large-regular-18-font-family);
  font-weight: var(--text-styles-p-large-regular-18-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--text-styles-p-large-regular-18-font-size);
  letter-spacing: var(--text-styles-p-large-regular-18-letter-spacing);
  line-height: var(--text-styles-p-large-regular-18-line-height);
  font-style: var(--text-styles-p-large-regular-18-font-style);
}

.desktop-frame .ellipse-12 {
  top: 963px;
  background-color: #39cd6b;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 74px;
  border-radius: 8.5px;
}

.desktop-frame .rectangle-5 {
  position: absolute;
  width: 3px;
  height: 225px;
  top: -33px;
  left: 164px;
  background-color: var(--tokens-primary-light-primary);
  transform: rotate(90deg);
}

.desktop-frame .search-bar {
  display: flex;
  max-width: 720px;
  width: 362px;
  height: 42px;
  align-items: center;
  gap: 4px;
  position: absolute;
  top: 100px;
  left: 1003px;
  border-radius: 28px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--tokens-neutrals-light-outline);
}

.desktop-frame .state-layer-5 {
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px;
  position: relative;
  align-self: stretch;
}

.desktop-frame .supporting-text-wrapper {
  display: flex;
  width: 266px;
  align-items: center;
  gap: 10px;
  position: relative;
  align-self: stretch;
}

.desktop-frame .supporting-text-2 {
  position: relative;
  width: fit-content;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-large-font-style);
}

.desktop-frame .trailing-elements {
  width: 62px;
  justify-content: flex-end;
  margin-top: -8px;
  margin-bottom: -8px;
  display: flex;
  align-items: center;
  position: relative;
}

.desktop-frame .button-2 {
  all: unset;
  box-sizing: border-box;
  top: 101px;
  left: 65px;
  border: 1px solid;
  border-color: var(--tokens-neutrals-light-outline);
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .icon-3 {
  position: relative;
  width: 18px;
  height: 18px;
}

.desktop-frame .label-text-9 {
  font-weight: var(--m3-label-large-font-weight);
  color: var(--tokens-primary-light-primary);
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-label-large-font-family);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.desktop-frame .button-3 {
  all: unset;
  box-sizing: border-box;
  top: 236px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .state-layer-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 16px 10px 12px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.desktop-frame .label-text-10 {
  font-weight: var(--m3-label-large-font-weight);
  color: var(--tokens-neutrals-light-on-surface-variant);
  font-size: var(--m3-label-large-font-size);
  text-align: center;
  letter-spacing: var(--m3-label-large-letter-spacing);
  line-height: var(--m3-label-large-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--m3-label-large-font-family);
  white-space: nowrap;
  font-style: var(--m3-label-large-font-style);
}

.desktop-frame .button-4 {
  all: unset;
  box-sizing: border-box;
  top: 299px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-5 {
  all: unset;
  box-sizing: border-box;
  top: 366px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-6 {
  all: unset;
  box-sizing: border-box;
  top: 429px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-7 {
  all: unset;
  box-sizing: border-box;
  top: 756px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-8 {
  all: unset;
  box-sizing: border-box;
  top: 819px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-9 {
  all: unset;
  box-sizing: border-box;
  top: 886px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-10 {
  all: unset;
  box-sizing: border-box;
  top: 949px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-11 {
  all: unset;
  box-sizing: border-box;
  top: 494px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-12 {
  all: unset;
  box-sizing: border-box;
  top: 557px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-13 {
  all: unset;
  box-sizing: border-box;
  top: 624px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}

.desktop-frame .button-14 {
  all: unset;
  box-sizing: border-box;
  top: 687px;
  left: 1165px;
  display: inline-flex;
  flex-direction: column;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  border-radius: 100px;
  overflow: hidden;
}
