:root {
  --m3state-layerslighton-surface-variantopacity-012: rgba(73, 69, 79, 0.12);
  --m3state-layerslighton-surface-variantopacity-008: rgba(73, 69, 79, 0.08);
  --text-styles-display-medium-52-font-family: "Poppins", Helvetica;
  --text-styles-display-medium-52-font-weight: 500;
  --text-styles-display-medium-52-font-size: 52px;
  --text-styles-display-medium-52-letter-spacing: -1.04px;
  --text-styles-display-medium-52-line-height: 56px;
  --text-styles-display-medium-52-font-style: normal;
  --text-styles-display-semibold-52-font-family: "Poppins", Helvetica;
  --text-styles-display-semibold-52-font-weight: 600;
  --text-styles-display-semibold-52-font-size: 52px;
  --text-styles-display-semibold-52-letter-spacing: -1.04px;
  --text-styles-display-semibold-52-line-height: 56px;
  --text-styles-display-semibold-52-font-style: normal;
  --text-styles-display-bold-52-font-family: "Poppins", Helvetica;
  --text-styles-display-bold-52-font-weight: 700;
  --text-styles-display-bold-52-font-size: 52px;
  --text-styles-display-bold-52-letter-spacing: -1.04px;
  --text-styles-display-bold-52-line-height: 56px;
  --text-styles-display-bold-52-font-style: normal;
  --text-styles-display-extrabold-52-font-family: "Poppins", Helvetica;
  --text-styles-display-extrabold-52-font-weight: 800;
  --text-styles-display-extrabold-52-font-size: 52px;
  --text-styles-display-extrabold-52-letter-spacing: -1.04px;
  --text-styles-display-extrabold-52-line-height: 56px;
  --text-styles-display-extrabold-52-font-style: normal;
  --text-styles-display-medium-44-font-family: "Poppins", Helvetica;
  --text-styles-display-medium-44-font-weight: 500;
  --text-styles-display-medium-44-font-size: 44px;
  --text-styles-display-medium-44-letter-spacing: -0.88px;
  --text-styles-display-medium-44-line-height: 48px;
  --text-styles-display-medium-44-font-style: normal;
  --text-styles-display-semibold-44-font-family: "Poppins", Helvetica;
  --text-styles-display-semibold-44-font-weight: 600;
  --text-styles-display-semibold-44-font-size: 44px;
  --text-styles-display-semibold-44-letter-spacing: -0.88px;
  --text-styles-display-semibold-44-line-height: 48px;
  --text-styles-display-semibold-44-font-style: normal;
  --text-styles-display-bold-44-font-family: "Poppins", Helvetica;
  --text-styles-display-bold-44-font-weight: 700;
  --text-styles-display-bold-44-font-size: 44px;
  --text-styles-display-bold-44-letter-spacing: -0.88px;
  --text-styles-display-bold-44-line-height: 48px;
  --text-styles-display-bold-44-font-style: normal;
  --text-styles-display-extrabold-44-font-family: "Poppins", Helvetica;
  --text-styles-display-extrabold-44-font-weight: 800;
  --text-styles-display-extrabold-44-font-size: 44px;
  --text-styles-display-extrabold-44-letter-spacing: -0.88px;
  --text-styles-display-extrabold-44-line-height: 48px;
  --text-styles-display-extrabold-44-font-style: normal;
  --text-styles-h1-desktop-medium-40-font-family: "Poppins", Helvetica;
  --text-styles-h1-desktop-medium-40-font-weight: 500;
  --text-styles-h1-desktop-medium-40-font-size: 40px;
  --text-styles-h1-desktop-medium-40-letter-spacing: -0.8px;
  --text-styles-h1-desktop-medium-40-line-height: 48px;
  --text-styles-h1-desktop-medium-40-font-style: normal;
  --text-styles-h1-desktop-semibold-40-font-family: "Poppins", Helvetica;
  --text-styles-h1-desktop-semibold-40-font-weight: 600;
  --text-styles-h1-desktop-semibold-40-font-size: 40px;
  --text-styles-h1-desktop-semibold-40-letter-spacing: -0.8px;
  --text-styles-h1-desktop-semibold-40-line-height: 48px;
  --text-styles-h1-desktop-semibold-40-font-style: normal;
  --text-styles-h1-desktop-bold-40-font-family: "Poppins", Helvetica;
  --text-styles-h1-desktop-bold-40-font-weight: 700;
  --text-styles-h1-desktop-bold-40-font-size: 40px;
  --text-styles-h1-desktop-bold-40-letter-spacing: -0.8px;
  --text-styles-h1-desktop-bold-40-line-height: 48px;
  --text-styles-h1-desktop-bold-40-font-style: normal;
  --text-styles-h1-desktop-extrabold-40-font-family: "Poppins", Helvetica;
  --text-styles-h1-desktop-extrabold-40-font-weight: 800;
  --text-styles-h1-desktop-extrabold-40-font-size: 40px;
  --text-styles-h1-desktop-extrabold-40-letter-spacing: -0.8px;
  --text-styles-h1-desktop-extrabold-40-line-height: 48px;
  --text-styles-h1-desktop-extrabold-40-font-style: normal;
  --text-styles-h2-desktop-medium-36-font-family: "Poppins", Helvetica;
  --text-styles-h2-desktop-medium-36-font-weight: 500;
  --text-styles-h2-desktop-medium-36-font-size: 36px;
  --text-styles-h2-desktop-medium-36-letter-spacing: -0.72px;
  --text-styles-h2-desktop-medium-36-line-height: 44px;
  --text-styles-h2-desktop-medium-36-font-style: normal;
  --text-styles-h2-desktop-semibold-36-font-family: "Poppins", Helvetica;
  --text-styles-h2-desktop-semibold-36-font-weight: 600;
  --text-styles-h2-desktop-semibold-36-font-size: 36px;
  --text-styles-h2-desktop-semibold-36-letter-spacing: -0.72px;
  --text-styles-h2-desktop-semibold-36-line-height: 44px;
  --text-styles-h2-desktop-semibold-36-font-style: normal;
  --text-styles-h2-desktop-bold-36-font-family: "Poppins", Helvetica;
  --text-styles-h2-desktop-bold-36-font-weight: 700;
  --text-styles-h2-desktop-bold-36-font-size: 36px;
  --text-styles-h2-desktop-bold-36-letter-spacing: -0.72px;
  --text-styles-h2-desktop-bold-36-line-height: 44px;
  --text-styles-h2-desktop-bold-36-font-style: normal;
  --text-styles-h2-desktop-extrabold-36-font-family: "Poppins", Helvetica;
  --text-styles-h2-desktop-extrabold-36-font-weight: 800;
  --text-styles-h2-desktop-extrabold-36-font-size: 36px;
  --text-styles-h2-desktop-extrabold-36-letter-spacing: -0.72px;
  --text-styles-h2-desktop-extrabold-36-line-height: 44px;
  --text-styles-h2-desktop-extrabold-36-font-style: normal;
  --text-styles-h3-desktop-medium-32-font-family: "Poppins", Helvetica;
  --text-styles-h3-desktop-medium-32-font-weight: 500;
  --text-styles-h3-desktop-medium-32-font-size: 32px;
  --text-styles-h3-desktop-medium-32-letter-spacing: -0.64px;
  --text-styles-h3-desktop-medium-32-line-height: 40px;
  --text-styles-h3-desktop-medium-32-font-style: normal;
  --text-styles-h3-desktop-semibold-32-font-family: "Poppins", Helvetica;
  --text-styles-h3-desktop-semibold-32-font-weight: 600;
  --text-styles-h3-desktop-semibold-32-font-size: 32px;
  --text-styles-h3-desktop-semibold-32-letter-spacing: -0.64px;
  --text-styles-h3-desktop-semibold-32-line-height: 40px;
  --text-styles-h3-desktop-semibold-32-font-style: normal;
  --text-styles-h3-desktop-bold-32-font-family: "Poppins", Helvetica;
  --text-styles-h3-desktop-bold-32-font-weight: 700;
  --text-styles-h3-desktop-bold-32-font-size: 32px;
  --text-styles-h3-desktop-bold-32-letter-spacing: -0.64px;
  --text-styles-h3-desktop-bold-32-line-height: 40px;
  --text-styles-h3-desktop-bold-32-font-style: normal;
  --text-styles-h3-desktop-extrabold-32-font-family: "Poppins", Helvetica;
  --text-styles-h3-desktop-extrabold-32-font-weight: 800;
  --text-styles-h3-desktop-extrabold-32-font-size: 32px;
  --text-styles-h3-desktop-extrabold-32-letter-spacing: -0.64px;
  --text-styles-h3-desktop-extrabold-32-line-height: 40px;
  --text-styles-h3-desktop-extrabold-32-font-style: normal;
  --text-styles-h4-desktop-medium-28-font-family: "Poppins", Helvetica;
  --text-styles-h4-desktop-medium-28-font-weight: 500;
  --text-styles-h4-desktop-medium-28-font-size: 28px;
  --text-styles-h4-desktop-medium-28-letter-spacing: -0.56px;
  --text-styles-h4-desktop-medium-28-line-height: 36px;
  --text-styles-h4-desktop-medium-28-font-style: normal;
  --text-styles-h4-desktop-semibold-28-font-family: "Poppins", Helvetica;
  --text-styles-h4-desktop-semibold-28-font-weight: 600;
  --text-styles-h4-desktop-semibold-28-font-size: 28px;
  --text-styles-h4-desktop-semibold-28-letter-spacing: -0.56px;
  --text-styles-h4-desktop-semibold-28-line-height: 36px;
  --text-styles-h4-desktop-semibold-28-font-style: normal;
  --text-styles-h4-desktop-bold-28-font-family: "Poppins", Helvetica;
  --text-styles-h4-desktop-bold-28-font-weight: 700;
  --text-styles-h4-desktop-bold-28-font-size: 28px;
  --text-styles-h4-desktop-bold-28-letter-spacing: -0.56px;
  --text-styles-h4-desktop-bold-28-line-height: 36px;
  --text-styles-h4-desktop-bold-28-font-style: normal;
  --text-styles-h4-desktop-extrabold-28-font-family: "Poppins", Helvetica;
  --text-styles-h4-desktop-extrabold-28-font-weight: 800;
  --text-styles-h4-desktop-extrabold-28-font-size: 28px;
  --text-styles-h4-desktop-extrabold-28-letter-spacing: -0.56px;
  --text-styles-h4-desktop-extrabold-28-line-height: 36px;
  --text-styles-h4-desktop-extrabold-28-font-style: normal;
  --text-styles-h5-desktop-medium-24-font-family: "Poppins", Helvetica;
  --text-styles-h5-desktop-medium-24-font-weight: 500;
  --text-styles-h5-desktop-medium-24-font-size: 24px;
  --text-styles-h5-desktop-medium-24-letter-spacing: -0.48px;
  --text-styles-h5-desktop-medium-24-line-height: 32px;
  --text-styles-h5-desktop-medium-24-font-style: normal;
  --text-styles-h5-desktop-semibold-24-font-family: "Poppins", Helvetica;
  --text-styles-h5-desktop-semibold-24-font-weight: 600;
  --text-styles-h5-desktop-semibold-24-font-size: 24px;
  --text-styles-h5-desktop-semibold-24-letter-spacing: -0.48px;
  --text-styles-h5-desktop-semibold-24-line-height: 32px;
  --text-styles-h5-desktop-semibold-24-font-style: normal;
  --text-styles-h5-desktop-bold-24-font-family: "Poppins", Helvetica;
  --text-styles-h5-desktop-bold-24-font-weight: 700;
  --text-styles-h5-desktop-bold-24-font-size: 24px;
  --text-styles-h5-desktop-bold-24-letter-spacing: -0.48px;
  --text-styles-h5-desktop-bold-24-line-height: 32px;
  --text-styles-h5-desktop-bold-24-font-style: normal;
  --text-styles-h5-desktop-extrabold-24-font-family: "Poppins", Helvetica;
  --text-styles-h5-desktop-extrabold-24-font-weight: 800;
  --text-styles-h5-desktop-extrabold-24-font-size: 24px;
  --text-styles-h5-desktop-extrabold-24-letter-spacing: -0.48px;
  --text-styles-h5-desktop-extrabold-24-line-height: 32px;
  --text-styles-h5-desktop-extrabold-24-font-style: normal;
  --text-styles-h6-desktop-medium-20-font-family: "Poppins", Helvetica;
  --text-styles-h6-desktop-medium-20-font-weight: 500;
  --text-styles-h6-desktop-medium-20-font-size: 20px;
  --text-styles-h6-desktop-medium-20-letter-spacing: -0.4px;
  --text-styles-h6-desktop-medium-20-line-height: 28px;
  --text-styles-h6-desktop-medium-20-font-style: normal;
  --text-styles-h6-desktop-semibold-20-font-family: "Poppins", Helvetica;
  --text-styles-h6-desktop-semibold-20-font-weight: 600;
  --text-styles-h6-desktop-semibold-20-font-size: 20px;
  --text-styles-h6-desktop-semibold-20-letter-spacing: -0.4px;
  --text-styles-h6-desktop-semibold-20-line-height: 28px;
  --text-styles-h6-desktop-semibold-20-font-style: normal;
  --text-styles-h6-desktop-bold-20-font-family: "Poppins", Helvetica;
  --text-styles-h6-desktop-bold-20-font-weight: 700;
  --text-styles-h6-desktop-bold-20-font-size: 20px;
  --text-styles-h6-desktop-bold-20-letter-spacing: -0.4px;
  --text-styles-h6-desktop-bold-20-line-height: 28px;
  --text-styles-h6-desktop-bold-20-font-style: normal;
  --text-styles-h6-desktop-extrabold-20-font-family: "Poppins", Helvetica;
  --text-styles-h6-desktop-extrabold-20-font-weight: 800;
  --text-styles-h6-desktop-extrabold-20-font-size: 20px;
  --text-styles-h6-desktop-extrabold-20-letter-spacing: -0.4px;
  --text-styles-h6-desktop-extrabold-20-line-height: 28px;
  --text-styles-h6-desktop-extrabold-20-font-style: normal;
  --text-styles-h1-mobile-medium-36-font-family: "Poppins", Helvetica;
  --text-styles-h1-mobile-medium-36-font-weight: 500;
  --text-styles-h1-mobile-medium-36-font-size: 36px;
  --text-styles-h1-mobile-medium-36-letter-spacing: -0.72px;
  --text-styles-h1-mobile-medium-36-line-height: 44px;
  --text-styles-h1-mobile-medium-36-font-style: normal;
  --text-styles-h1-mobile-semibold-36-font-family: "Poppins", Helvetica;
  --text-styles-h1-mobile-semibold-36-font-weight: 600;
  --text-styles-h1-mobile-semibold-36-font-size: 36px;
  --text-styles-h1-mobile-semibold-36-letter-spacing: -0.72px;
  --text-styles-h1-mobile-semibold-36-line-height: 44px;
  --text-styles-h1-mobile-semibold-36-font-style: normal;
  --text-styles-h1-mobile-bold-36-font-family: "Poppins", Helvetica;
  --text-styles-h1-mobile-bold-36-font-weight: 700;
  --text-styles-h1-mobile-bold-36-font-size: 36px;
  --text-styles-h1-mobile-bold-36-letter-spacing: -0.72px;
  --text-styles-h1-mobile-bold-36-line-height: 44px;
  --text-styles-h1-mobile-bold-36-font-style: normal;
  --text-styles-h1-mobile-extrabold-36-font-family: "Poppins", Helvetica;
  --text-styles-h1-mobile-extrabold-36-font-weight: 800;
  --text-styles-h1-mobile-extrabold-36-font-size: 36px;
  --text-styles-h1-mobile-extrabold-36-letter-spacing: -0.72px;
  --text-styles-h1-mobile-extrabold-36-line-height: 44px;
  --text-styles-h1-mobile-extrabold-36-font-style: normal;
  --text-styles-h2-mobile-medium-32-font-family: "Poppins", Helvetica;
  --text-styles-h2-mobile-medium-32-font-weight: 500;
  --text-styles-h2-mobile-medium-32-font-size: 32px;
  --text-styles-h2-mobile-medium-32-letter-spacing: -0.64px;
  --text-styles-h2-mobile-medium-32-line-height: 40px;
  --text-styles-h2-mobile-medium-32-font-style: normal;
  --text-styles-h2-mobile-semibold-32-font-family: "Poppins", Helvetica;
  --text-styles-h2-mobile-semibold-32-font-weight: 600;
  --text-styles-h2-mobile-semibold-32-font-size: 32px;
  --text-styles-h2-mobile-semibold-32-letter-spacing: -0.64px;
  --text-styles-h2-mobile-semibold-32-line-height: 40px;
  --text-styles-h2-mobile-semibold-32-font-style: normal;
  --text-styles-h2-mobile-bold-32-font-family: "Poppins", Helvetica;
  --text-styles-h2-mobile-bold-32-font-weight: 700;
  --text-styles-h2-mobile-bold-32-font-size: 32px;
  --text-styles-h2-mobile-bold-32-letter-spacing: -0.64px;
  --text-styles-h2-mobile-bold-32-line-height: 40px;
  --text-styles-h2-mobile-bold-32-font-style: normal;
  --text-styles-h2-mobile-extrabold-32-font-family: "Poppins", Helvetica;
  --text-styles-h2-mobile-extrabold-32-font-weight: 800;
  --text-styles-h2-mobile-extrabold-32-font-size: 32px;
  --text-styles-h2-mobile-extrabold-32-letter-spacing: -0.64px;
  --text-styles-h2-mobile-extrabold-32-line-height: 40px;
  --text-styles-h2-mobile-extrabold-32-font-style: normal;
  --text-styles-h3-mobile-medium-28-font-family: "Poppins", Helvetica;
  --text-styles-h3-mobile-medium-28-font-weight: 500;
  --text-styles-h3-mobile-medium-28-font-size: 28px;
  --text-styles-h3-mobile-medium-28-letter-spacing: -0.56px;
  --text-styles-h3-mobile-medium-28-line-height: 36px;
  --text-styles-h3-mobile-medium-28-font-style: normal;
  --text-styles-h3-mobile-semibold-28-font-family: "Poppins", Helvetica;
  --text-styles-h3-mobile-semibold-28-font-weight: 600;
  --text-styles-h3-mobile-semibold-28-font-size: 28px;
  --text-styles-h3-mobile-semibold-28-letter-spacing: -0.56px;
  --text-styles-h3-mobile-semibold-28-line-height: 36px;
  --text-styles-h3-mobile-semibold-28-font-style: normal;
  --text-styles-h3-mobile-bold-28-font-family: "Poppins", Helvetica;
  --text-styles-h3-mobile-bold-28-font-weight: 700;
  --text-styles-h3-mobile-bold-28-font-size: 28px;
  --text-styles-h3-mobile-bold-28-letter-spacing: -0.56px;
  --text-styles-h3-mobile-bold-28-line-height: 36px;
  --text-styles-h3-mobile-bold-28-font-style: normal;
  --text-styles-h3-mobile-extrabold-28-font-family: "Poppins", Helvetica;
  --text-styles-h3-mobile-extrabold-28-font-weight: 800;
  --text-styles-h3-mobile-extrabold-28-font-size: 28px;
  --text-styles-h3-mobile-extrabold-28-letter-spacing: -0.56px;
  --text-styles-h3-mobile-extrabold-28-line-height: 36px;
  --text-styles-h3-mobile-extrabold-28-font-style: normal;
  --text-styles-h4-mobile-medium-24-font-family: "Poppins", Helvetica;
  --text-styles-h4-mobile-medium-24-font-weight: 500;
  --text-styles-h4-mobile-medium-24-font-size: 24px;
  --text-styles-h4-mobile-medium-24-letter-spacing: -0.48px;
  --text-styles-h4-mobile-medium-24-line-height: 32px;
  --text-styles-h4-mobile-medium-24-font-style: normal;
  --text-styles-h4-mobile-semibold-24-font-family: "Poppins", Helvetica;
  --text-styles-h4-mobile-semibold-24-font-weight: 600;
  --text-styles-h4-mobile-semibold-24-font-size: 24px;
  --text-styles-h4-mobile-semibold-24-letter-spacing: -0.48px;
  --text-styles-h4-mobile-semibold-24-line-height: 32px;
  --text-styles-h4-mobile-semibold-24-font-style: normal;
  --text-styles-h4-mobile-bold-24-font-family: "Poppins", Helvetica;
  --text-styles-h4-mobile-bold-24-font-weight: 700;
  --text-styles-h4-mobile-bold-24-font-size: 24px;
  --text-styles-h4-mobile-bold-24-letter-spacing: -0.48px;
  --text-styles-h4-mobile-bold-24-line-height: 32px;
  --text-styles-h4-mobile-bold-24-font-style: normal;
  --text-styles-h4-mobile-extrabold-24-font-family: "Poppins", Helvetica;
  --text-styles-h4-mobile-extrabold-24-font-weight: 800;
  --text-styles-h4-mobile-extrabold-24-font-size: 24px;
  --text-styles-h4-mobile-extrabold-24-letter-spacing: -0.48px;
  --text-styles-h4-mobile-extrabold-24-line-height: 32px;
  --text-styles-h4-mobile-extrabold-24-font-style: normal;
  --text-styles-h5-mobile-medium-20-font-family: "Poppins", Helvetica;
  --text-styles-h5-mobile-medium-20-font-weight: 500;
  --text-styles-h5-mobile-medium-20-font-size: 20px;
  --text-styles-h5-mobile-medium-20-letter-spacing: -0.4px;
  --text-styles-h5-mobile-medium-20-line-height: 28px;
  --text-styles-h5-mobile-medium-20-font-style: normal;
  --text-styles-h5-mobile-semibold-20-font-family: "Poppins", Helvetica;
  --text-styles-h5-mobile-semibold-20-font-weight: 600;
  --text-styles-h5-mobile-semibold-20-font-size: 20px;
  --text-styles-h5-mobile-semibold-20-letter-spacing: -0.4px;
  --text-styles-h5-mobile-semibold-20-line-height: 28px;
  --text-styles-h5-mobile-semibold-20-font-style: normal;
  --text-styles-h5-mobile-bold-20-font-family: "Poppins", Helvetica;
  --text-styles-h5-mobile-bold-20-font-weight: 700;
  --text-styles-h5-mobile-bold-20-font-size: 20px;
  --text-styles-h5-mobile-bold-20-letter-spacing: -0.4px;
  --text-styles-h5-mobile-bold-20-line-height: 28px;
  --text-styles-h5-mobile-bold-20-font-style: normal;
  --text-styles-h5-mobile-extrabold-20-font-family: "Poppins", Helvetica;
  --text-styles-h5-mobile-extrabold-20-font-weight: 800;
  --text-styles-h5-mobile-extrabold-20-font-size: 20px;
  --text-styles-h5-mobile-extrabold-20-letter-spacing: -0.4px;
  --text-styles-h5-mobile-extrabold-20-line-height: 28px;
  --text-styles-h5-mobile-extrabold-20-font-style: normal;
  --text-styles-h6-mobile-medium-18-font-family: "Poppins", Helvetica;
  --text-styles-h6-mobile-medium-18-font-weight: 500;
  --text-styles-h6-mobile-medium-18-font-size: 18px;
  --text-styles-h6-mobile-medium-18-letter-spacing: -0.36px;
  --text-styles-h6-mobile-medium-18-line-height: 24px;
  --text-styles-h6-mobile-medium-18-font-style: normal;
  --text-styles-h6-mobile-semibold-18-font-family: "Poppins", Helvetica;
  --text-styles-h6-mobile-semibold-18-font-weight: 600;
  --text-styles-h6-mobile-semibold-18-font-size: 18px;
  --text-styles-h6-mobile-semibold-18-letter-spacing: -0.36px;
  --text-styles-h6-mobile-semibold-18-line-height: 24px;
  --text-styles-h6-mobile-semibold-18-font-style: normal;
  --text-styles-h6-mobile-bold-18-font-family: "Poppins", Helvetica;
  --text-styles-h6-mobile-bold-18-font-weight: 700;
  --text-styles-h6-mobile-bold-18-font-size: 18px;
  --text-styles-h6-mobile-bold-18-letter-spacing: -0.36px;
  --text-styles-h6-mobile-bold-18-line-height: 24px;
  --text-styles-h6-mobile-bold-18-font-style: normal;
  --text-styles-h6-mobile-extrabold-18-font-family: "Poppins", Helvetica;
  --text-styles-h6-mobile-extrabold-18-font-weight: 800;
  --text-styles-h6-mobile-extrabold-18-font-size: 18px;
  --text-styles-h6-mobile-extrabold-18-letter-spacing: -0.36px;
  --text-styles-h6-mobile-extrabold-18-line-height: 24px;
  --text-styles-h6-mobile-extrabold-18-font-style: normal;
  --text-styles-p-large-regular-18-font-family: "Poppins", Helvetica;
  --text-styles-p-large-regular-18-font-weight: 400;
  --text-styles-p-large-regular-18-font-size: 18px;
  --text-styles-p-large-regular-18-letter-spacing: 0px;
  --text-styles-p-large-regular-18-line-height: 28px;
  --text-styles-p-large-regular-18-font-style: normal;
  --text-styles-p-large-medium-18-font-family: "Poppins", Helvetica;
  --text-styles-p-large-medium-18-font-weight: 500;
  --text-styles-p-large-medium-18-font-size: 18px;
  --text-styles-p-large-medium-18-letter-spacing: 0px;
  --text-styles-p-large-medium-18-line-height: 28px;
  --text-styles-p-large-medium-18-font-style: normal;
  --text-styles-p-large-semibold-18-font-family: "Poppins", Helvetica;
  --text-styles-p-large-semibold-18-font-weight: 600;
  --text-styles-p-large-semibold-18-font-size: 18px;
  --text-styles-p-large-semibold-18-letter-spacing: 0px;
  --text-styles-p-large-semibold-18-line-height: 28px;
  --text-styles-p-large-semibold-18-font-style: normal;
  --text-styles-p-large-regular-underline-font-family: "Poppins", Helvetica;
  --text-styles-p-large-regular-underline-font-weight: 400;
  --text-styles-p-large-regular-underline-font-size: 18px;
  --text-styles-p-large-regular-underline-letter-spacing: 0px;
  --text-styles-p-large-regular-underline-line-height: 28px;
  --text-styles-p-large-regular-underline-font-style: normal;
  --text-styles-p-large-regular-strikethrough-font-family: "Poppins", Helvetica;
  --text-styles-p-large-regular-strikethrough-font-weight: 400;
  --text-styles-p-large-regular-strikethrough-font-size: 18px;
  --text-styles-p-large-regular-strikethrough-letter-spacing: 0px;
  --text-styles-p-large-regular-strikethrough-line-height: 28px;
  --text-styles-p-large-regular-strikethrough-font-style: normal;
  --text-styles-p-large-regular-italic-font-family: "Poppins", Helvetica;
  --text-styles-p-large-regular-italic-font-weight: 400;
  --text-styles-p-large-regular-italic-font-size: 18px;
  --text-styles-p-large-regular-italic-letter-spacing: 0px;
  --text-styles-p-large-regular-italic-line-height: 28px;
  --text-styles-p-large-regular-italic-font-style: italic;
  --text-styles-p-medium-regular-16-font-family: "Poppins", Helvetica;
  --text-styles-p-medium-regular-16-font-weight: 400;
  --text-styles-p-medium-regular-16-font-size: 16px;
  --text-styles-p-medium-regular-16-letter-spacing: 0px;
  --text-styles-p-medium-regular-16-line-height: 24px;
  --text-styles-p-medium-regular-16-font-style: normal;
  --text-styles-p-medium-medium-16-font-family: "Poppins", Helvetica;
  --text-styles-p-medium-medium-16-font-weight: 500;
  --text-styles-p-medium-medium-16-font-size: 16px;
  --text-styles-p-medium-medium-16-letter-spacing: 0px;
  --text-styles-p-medium-medium-16-line-height: 24px;
  --text-styles-p-medium-medium-16-font-style: normal;
  --text-styles-p-medium-semibold-16-font-family: "Poppins", Helvetica;
  --text-styles-p-medium-semibold-16-font-weight: 600;
  --text-styles-p-medium-semibold-16-font-size: 16px;
  --text-styles-p-medium-semibold-16-letter-spacing: 0px;
  --text-styles-p-medium-semibold-16-line-height: 24px;
  --text-styles-p-medium-semibold-16-font-style: normal;
  --text-styles-p-medium-regular-underline-font-family: "Poppins", Helvetica;
  --text-styles-p-medium-regular-underline-font-weight: 400;
  --text-styles-p-medium-regular-underline-font-size: 16px;
  --text-styles-p-medium-regular-underline-letter-spacing: 0px;
  --text-styles-p-medium-regular-underline-line-height: 24px;
  --text-styles-p-medium-regular-underline-font-style: normal;
  --text-styles-p-medium-regular-strikethrough-font-family: "Poppins", Helvetica;
  --text-styles-p-medium-regular-strikethrough-font-weight: 400;
  --text-styles-p-medium-regular-strikethrough-font-size: 16px;
  --text-styles-p-medium-regular-strikethrough-letter-spacing: 0px;
  --text-styles-p-medium-regular-strikethrough-line-height: 24px;
  --text-styles-p-medium-regular-strikethrough-font-style: normal;
  --text-styles-p-medium-regular-italic-font-family: "Poppins", Helvetica;
  --text-styles-p-medium-regular-italic-font-weight: 400;
  --text-styles-p-medium-regular-italic-font-size: 16px;
  --text-styles-p-medium-regular-italic-letter-spacing: 0px;
  --text-styles-p-medium-regular-italic-line-height: 24px;
  --text-styles-p-medium-regular-italic-font-style: italic;
  --text-styles-p-small-regular-14-font-family: "Poppins", Helvetica;
  --text-styles-p-small-regular-14-font-weight: 400;
  --text-styles-p-small-regular-14-font-size: 14px;
  --text-styles-p-small-regular-14-letter-spacing: 0px;
  --text-styles-p-small-regular-14-line-height: 20px;
  --text-styles-p-small-regular-14-font-style: normal;
  --text-styles-p-small-medium-14-font-family: "Poppins", Helvetica;
  --text-styles-p-small-medium-14-font-weight: 500;
  --text-styles-p-small-medium-14-font-size: 14px;
  --text-styles-p-small-medium-14-letter-spacing: 0px;
  --text-styles-p-small-medium-14-line-height: 20px;
  --text-styles-p-small-medium-14-font-style: normal;
  --text-styles-p-small-semibold-14-font-family: "Poppins", Helvetica;
  --text-styles-p-small-semibold-14-font-weight: 600;
  --text-styles-p-small-semibold-14-font-size: 14px;
  --text-styles-p-small-semibold-14-letter-spacing: 0px;
  --text-styles-p-small-semibold-14-line-height: 20px;
  --text-styles-p-small-semibold-14-font-style: normal;
  --text-styles-p-small-regular-underline-font-family: "Poppins", Helvetica;
  --text-styles-p-small-regular-underline-font-weight: 400;
  --text-styles-p-small-regular-underline-font-size: 14px;
  --text-styles-p-small-regular-underline-letter-spacing: 0px;
  --text-styles-p-small-regular-underline-line-height: 20px;
  --text-styles-p-small-regular-underline-font-style: normal;
  --text-styles-p-small-regular-strikethrough-font-family: "Poppins", Helvetica;
  --text-styles-p-small-regular-strikethrough-font-weight: 400;
  --text-styles-p-small-regular-strikethrough-font-size: 14px;
  --text-styles-p-small-regular-strikethrough-letter-spacing: 0px;
  --text-styles-p-small-regular-strikethrough-line-height: 20px;
  --text-styles-p-small-regular-strikethrough-font-style: normal;
  --text-styles-p-small-regular-italic-font-family: "Poppins", Helvetica;
  --text-styles-p-small-regular-italic-font-weight: 400;
  --text-styles-p-small-regular-italic-font-size: 14px;
  --text-styles-p-small-regular-italic-letter-spacing: 0px;
  --text-styles-p-small-regular-italic-line-height: 20px;
  --text-styles-p-small-regular-italic-font-style: italic;
  --text-styles-p-extrasmall-regular-12-font-family: "Poppins", Helvetica;
  --text-styles-p-extrasmall-regular-12-font-weight: 400;
  --text-styles-p-extrasmall-regular-12-font-size: 12px;
  --text-styles-p-extrasmall-regular-12-letter-spacing: 0px;
  --text-styles-p-extrasmall-regular-12-line-height: 20px;
  --text-styles-p-extrasmall-regular-12-font-style: normal;
  --text-styles-p-extrasmall-medium-12-font-family: "Poppins", Helvetica;
  --text-styles-p-extrasmall-medium-12-font-weight: 500;
  --text-styles-p-extrasmall-medium-12-font-size: 12px;
  --text-styles-p-extrasmall-medium-12-letter-spacing: 0px;
  --text-styles-p-extrasmall-medium-12-line-height: 20px;
  --text-styles-p-extrasmall-medium-12-font-style: normal;
  --text-styles-p-extrasmall-semibold-12-font-family: "Poppins", Helvetica;
  --text-styles-p-extrasmall-semibold-12-font-weight: 600;
  --text-styles-p-extrasmall-semibold-12-font-size: 12px;
  --text-styles-p-extrasmall-semibold-12-letter-spacing: 0px;
  --text-styles-p-extrasmall-semibold-12-line-height: 20px;
  --text-styles-p-extrasmall-semibold-12-font-style: normal;
  --text-styles-p-extrasmall-regular-underline-font-family: "Poppins", Helvetica;
  --text-styles-p-extrasmall-regular-underline-font-weight: 400;
  --text-styles-p-extrasmall-regular-underline-font-size: 12px;
  --text-styles-p-extrasmall-regular-underline-letter-spacing: 0px;
  --text-styles-p-extrasmall-regular-underline-line-height: 20px;
  --text-styles-p-extrasmall-regular-underline-font-style: normal;
  --text-styles-p-extrasmall-regular-strikethrough-font-family: "Poppins",
    Helvetica;
  --text-styles-p-extrasmall-regular-strikethrough-font-weight: 400;
  --text-styles-p-extrasmall-regular-strikethrough-font-size: 12px;
  --text-styles-p-extrasmall-regular-strikethrough-letter-spacing: 0px;
  --text-styles-p-extrasmall-regular-strikethrough-line-height: 20px;
  --text-styles-p-extrasmall-regular-strikethrough-font-style: normal;
  --text-styles-p-extrasmall-regular-italic-font-family: "Poppins", Helvetica;
  --text-styles-p-extrasmall-regular-italic-font-weight: 400;
  --text-styles-p-extrasmall-regular-italic-font-size: 12px;
  --text-styles-p-extrasmall-regular-italic-letter-spacing: 0px;
  --text-styles-p-extrasmall-regular-italic-line-height: 20px;
  --text-styles-p-extrasmall-regular-italic-font-style: italic;
  --text-styles-overline-semibold-14-font-family: "Poppins", Helvetica;
  --text-styles-overline-semibold-14-font-weight: 600;
  --text-styles-overline-semibold-14-font-size: 14px;
  --text-styles-overline-semibold-14-letter-spacing: 1px;
  --text-styles-overline-semibold-14-line-height: 20px;
  --text-styles-overline-semibold-14-font-style: normal;
  --text-styles-overline-semibold-12-font-family: "Poppins", Helvetica;
  --text-styles-overline-semibold-12-font-weight: 600;
  --text-styles-overline-semibold-12-font-size: 12px;
  --text-styles-overline-semibold-12-letter-spacing: 1px;
  --text-styles-overline-semibold-12-line-height: 20px;
  --text-styles-overline-semibold-12-font-style: normal;
  --m3-label-large-font-family: "Roboto", Helvetica;
  --m3-label-large-font-weight: 500;
  --m3-label-large-font-size: 14px;
  --m3-label-large-letter-spacing: 0.10000000149011612px;
  --m3-label-large-line-height: 20px;
  --m3-label-large-font-style: normal;
  --m3-body-large-font-family: "Roboto", Helvetica;
  --m3-body-large-font-weight: 400;
  --m3-body-large-font-size: 16px;
  --m3-body-large-letter-spacing: 0.5px;
  --m3-body-large-line-height: 24px;
  --m3-body-large-font-style: normal;
  --m3-body-small-font-family: "Roboto", Helvetica;
  --m3-body-small-font-weight: 400;
  --m3-body-small-font-size: 12px;
  --m3-body-small-letter-spacing: 0px;
  --m3-body-small-line-height: 16px;
  --m3-body-small-font-style: normal;
  --drop-shadow-styles-shadow-small: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  --drop-shadow-styles-shadown-medium: 0px 6px 15px -2px rgba(16, 24, 40, 0.08),
    0px 6px 15px -2px rgba(16, 24, 40, 0.08);
  --drop-shadow-styles-shadow-large: 0px 8px 24px -3px rgba(16, 24, 40, 0.1),
    0px 8px 24px -3px rgba(16, 24, 40, 0.05);
  --drop-shadow-styles-shadown-xlarge: 0px 20px 40px -8px rgba(16, 24, 40, 0.1),
    0px 20px 40px -8px rgba(16, 24, 40, 0.05);
  --drop-shadow-styles-shadow-xxlarge: 0px 25px 60px -15px rgba(16, 24, 40, 0.2),
    0px 25px 60px -15px rgba(16, 24, 40, 0.12);
  --drop-shadow-styles-shadow-xsmall: 0px 1px 2px 0px rgba(16, 24, 40, 0.04),
    0px 1px 2px 0px rgba(16, 24, 40, 0.04);
  --primitives-color-primary-primary-99: rgba(254, 251, 255, 1);
  --primitives-color-primary-primary-98: rgba(251, 248, 255, 1);
  --primitives-color-primary-primary-95: rgba(240, 239, 255, 1);
  --primitives-color-secondary-secondary-99: rgba(255, 251, 255, 1);
  --primitives-color-secondary-secondary-98: rgba(255, 248, 246, 1);
  --primitives-color-secondary-secondary-95: rgba(255, 237, 232, 1);
  --primitives-color-tertiary-tertiary-99: rgba(255, 251, 255, 1);
  --primitives-color-tertiary-tertiary-98: rgba(255, 249, 234, 1);
  --primitives-color-tertiary-tertiary-95: rgba(255, 242, 172, 1);
  --primitives-color-error-error-99: rgba(255, 251, 255, 1);
  --primitives-color-error-error-98: rgba(255, 248, 247, 1);
  --primitives-color-error-error-95: rgba(255, 237, 234, 1);
  --primitives-color-neutral-neutral-100: rgba(255, 255, 255, 1);
  --primitives-color-neutral-variant-neutral-variant-99: rgba(254, 251, 255, 1);
  --primitives-color-neutral-variant-neutral-variant-98: rgba(251, 248, 255, 1);
  --primitives-color-neutral-neutral-99: rgba(254, 251, 255, 1);
  --primitives-color-neutral-variant-neutral-variant-95: rgba(241, 239, 250, 1);
  --primitives-color-neutral-variant-neutral-variant-90: rgba(227, 225, 236, 1);
  --primitives-color-neutral-neutral-98: rgba(251, 248, 253, 1);
  --primitives-color-neutral-variant-neutral-variant-80: rgba(198, 197, 208, 1);
  --primitives-color-neutral-variant-neutral-variant-70: rgba(171, 170, 180, 1);
  --primitives-color-neutral-variant-neutral-variant-60: rgba(144, 144, 154, 1);
  --primitives-color-neutral-variant-neutral-variant-50: rgba(118, 118, 128, 1);
  --primitives-color-neutral-variant-neutral-variant-40: rgba(93, 94, 103, 1);
  --primitives-color-neutral-variant-neutral-variant-35: rgba(81, 82, 91, 1);
  --primitives-color-neutral-variant-neutral-variant-30: rgba(70, 70, 79, 1);
  --primitives-color-neutral-variant-neutral-variant-25: rgba(58, 59, 67, 1);
  --primitives-color-neutral-variant-neutral-variant-20: rgba(47, 48, 56, 1);
  --primitives-color-neutral-variant-neutral-variant-10: rgba(26, 27, 35, 1);
  --primitives-color-neutral-neutral-95: rgba(243, 240, 244, 1);
  --primitives-color-neutral-neutral-95-opacity-8: rgba(243, 240, 244, 0.08);
  --primitives-color-neutral-neutral-95-opacity-12: rgba(243, 240, 244, 0.12);
  --primitives-color-neutral-neutral-90: rgba(228, 225, 230, 1);
  --primitives-color-neutral-neutral-90-opacity-8: rgba(228, 225, 230, 0.08);
  --primitives-color-neutral-neutral-90-opacity-10: rgba(228, 225, 230, 0.1);
  --primitives-color-neutral-neutral-90-opacity-12: rgba(228, 225, 230, 0.12);
  --primitives-color-neutral-neutral-90-opacity-16: rgba(228, 225, 230, 0.16);
  --primitives-color-neutral-neutral-80: rgba(200, 197, 202, 1);
  --primitives-color-neutral-neutral-70: rgba(172, 170, 175, 1);
  --primitives-color-neutral-neutral-60: rgba(145, 144, 148, 1);
  --primitives-color-neutral-neutral-50: rgba(120, 118, 122, 1);
  --primitives-color-neutral-neutral-50-opacity-75: rgba(120, 118, 122, 0.75);
  --primitives-color-neutral-neutral-40: rgba(95, 94, 98, 1);
  --primitives-color-neutral-neutral-35: rgba(83, 82, 86, 1);
  --primitives-color-neutral-neutral-30: rgba(71, 70, 74, 1);
  --primitives-color-neutral-neutral-25: rgba(59, 59, 63, 1);
  --primitives-color-neutral-neutral-20: rgba(48, 48, 52, 1);
  --primitives-color-neutral-neutral-20-opacity-8: rgba(48, 48, 52, 0.08);
  --primitives-color-neutral-neutral-20-opacity-12: rgba(48, 48, 52, 0.12);
  --primitives-color-neutral-neutral-10: rgba(27, 27, 31, 1);
  --primitives-color-error-error-90: rgba(255, 218, 214, 1);
  --primitives-color-error-error-80: rgba(255, 180, 171, 1);
  --primitives-color-error-error-80-opacity-8: rgba(255, 180, 171, 0.08);
  --primitives-color-error-error-80-opacity-12: rgba(255, 180, 171, 0.12);
  --primitives-color-error-error-70: rgba(255, 137, 125, 1);
  --primitives-color-error-error-60: rgba(255, 84, 73, 1);
  --primitives-color-error-error-50: rgba(222, 55, 48, 1);
  --primitives-color-error-error-40: rgba(186, 26, 26, 1);
  --primitives-color-error-error-40-opacity-8: rgba(186, 26, 26, 0.08);
  --primitives-color-error-error-40-opacity-12: rgba(186, 26, 26, 0.12);
  --primitives-color-error-error-35: rgba(168, 7, 16, 1);
  --primitives-color-error-error-30: rgba(147, 0, 10, 1);
  --primitives-color-error-error-25: rgba(126, 0, 7, 1);
  --primitives-color-error-error-20: rgba(105, 0, 5, 1);
  --primitives-color-error-error-10: rgba(65, 0, 2, 1);
  --primitives-color-tertiary-tertiary-90: rgba(248, 228, 103, 1);
  --primitives-color-tertiary-tertiary-90-opacity-8: rgba(248, 228, 103, 0.08);
  --primitives-color-tertiary-tertiary-90-opacity-12: rgba(248, 228, 103, 0.12);
  --primitives-color-tertiary-tertiary-80: rgba(219, 200, 78, 1);
  --primitives-color-tertiary-tertiary-70: rgba(190, 172, 53, 1);
  --primitives-color-tertiary-tertiary-60: rgba(162, 145, 25, 1);
  --primitives-color-tertiary-tertiary-50: rgba(134, 120, 0, 1);
  --primitives-color-tertiary-tertiary-40: rgba(107, 95, 0, 1);
  --primitives-color-tertiary-tertiary-35: rgba(93, 83, 0, 1);
  --primitives-color-tertiary-tertiary-30: rgba(80, 71, 0, 1);
  --primitives-color-tertiary-tertiary-25: rgba(68, 60, 0, 1);
  --primitives-color-tertiary-tertiary-20: rgba(55, 49, 0, 1);
  --primitives-color-tertiary-tertiary-10: rgba(32, 28, 0, 1);
  --primitives-color-tertiary-tertiary-10-opacity-8: rgba(32, 28, 0, 0.08);
  --primitives-color-tertiary-tertiary-10-opacity-12: rgba(32, 28, 0, 0.12);
  --primitives-color-secondary-secondary-90: rgba(255, 219, 209, 1);
  --primitives-color-secondary-secondary-90-opacity-8: rgba(
    255,
    219,
    209,
    0.08
  );
  --primitives-color-secondary-secondary-90-opacity-12: rgba(
    255,
    219,
    209,
    0.12
  );
  --primitives-color-secondary-secondary-80: rgba(255, 181, 160, 1);
  --primitives-color-secondary-secondary-70: rgba(255, 139, 105, 1);
  --primitives-color-secondary-secondary-60: rgba(255, 87, 33, 1);
  --primitives-color-secondary-secondary-50: rgba(219, 61, 1, 1);
  --primitives-color-secondary-secondary-40: rgba(176, 47, 0, 1);
  --primitives-color-secondary-secondary-35: rgba(155, 40, 0, 1);
  --primitives-color-secondary-secondary-30: rgba(134, 34, 0, 1);
  --primitives-color-secondary-secondary-25: rgba(114, 28, 0, 1);
  --primitives-color-secondary-secondary-20: rgba(95, 21, 0, 1);
  --primitives-color-secondary-secondary-10: rgba(59, 10, 0, 1);
  --primitives-color-secondary-secondary-10-opacity-8: rgba(59, 10, 0, 0.08);
  --primitives-color-secondary-secondary-10-opacity-12: rgba(59, 10, 0, 0.12);
  --primitives-color-primary-primary-90: rgba(222, 224, 255, 1);
  --primitives-color-primary-primary-90-opacity-8: rgba(222, 224, 255, 0.08);
  --primitives-color-primary-primary-90-opacity-10: rgba(222, 224, 255, 0.1);
  --primitives-color-primary-primary-90-opacity-12: rgba(222, 224, 255, 0.12);
  --primitives-color-primary-primary-80: rgba(186, 195, 255, 1);
  --primitives-color-primary-primary-70: rgba(150, 165, 255, 1);
  --primitives-color-primary-primary-60: rgba(113, 135, 255, 1);
  --primitives-color-primary-primary-50: rgba(85, 108, 232, 1);
  --primitives-color-primary-primary-40: rgba(57, 82, 205, 1);
  --primitives-color-primary-primary-40-opacity-4: rgba(57, 82, 205, 0.04);
  --primitives-color-primary-primary-40-opacity-8: rgba(57, 82, 205, 0.08);
  --primitives-color-primary-primary-40-opacity-12: rgba(57, 82, 205, 0.12);
  --primitives-color-primary-primary-35: rgba(43, 68, 193, 1);
  --primitives-color-primary-primary-30: rgba(26, 55, 181, 1);
  --primitives-color-primary-primary-25: rgba(2, 40, 170, 1);
  --primitives-color-primary-primary-20: rgba(0, 31, 143, 1);
  --primitives-color-primary-primary-10: rgba(0, 16, 91, 1);
  --primitives-spacing-spacing-xx-sm: 4px;
  --primitives-spacing-spacing-x-sm: 8px;
  --primitives-spacing-spacing-sm: 12px;
  --primitives-spacing-spacing-md: 16px;
  --primitives-spacing-spacing-big: 20px;
  --primitives-spacing-spacing-x-big: 24px;
  --primitives-spacing-spacing-xx-big: 28px;
  --primitives-spacing-spacing-xxx-big: 32px;
  --primitives-spacing-spacing-lg: 40px;
  --primitives-spacing-spacing-x-lg: 48px;
  --primitives-spacing-spacing-xx-lg: 64px;
  --primitives-spacing-spacing-xxx-lg: 80px;
  --primitives-spacing-spacing-huge: 96px;
  --primitives-spacing-spacing-x-huge: 128px;
  --primitives-spacing-spacing-xx-huge: 160px;
  --primitives-spacing-spacing-xxx-huge: 192px;
  --primitives-color-primary-primary-10-opacity-8: rgba(0, 16, 91, 0.08);
  --primitives-color-primary-primary-10-opacity-8-2: rgba(0, 16, 91, 0.1);
  --primitives-color-primary-primary-10-opacity-12: rgba(0, 16, 91, 0.12);
  --primitives-color-neutral-neutral-10-opacity-8: rgba(27, 27, 31, 0.08);
  --primitives-color-neutral-neutral-10-opacity-10: rgba(27, 27, 31, 0.1);
  --primitives-color-neutral-neutral-10-opacity-12: rgba(27, 27, 31, 0.12);
  --primitives-color-neutral-neutral-10-opacity-16: rgba(27, 27, 31, 0.16);
  --primitives-color-neutral-neutral-0: rgba(0, 0, 0, 1);
  --primitives-table-h-pad: 60px;
  --primitives-row-height: 100px;
  --primitives-cell-pad-normal: 10px;
  --tokens-primary-light-primary: var(--primitives-color-primary-primary-40);
  --tokens-primary-light-primary-opacity-8: var(
    --primitives-color-primary-primary-40-opacity-4
  );
  --tokens-primary-light-primary-opacity-12: var(
    --primitives-color-primary-primary-40-opacity-12
  );
  --tokens-primary-light-on-primary: var(
    --primitives-color-neutral-neutral-100
  );
  --tokens-primary-light-primary-container: var(
    --primitives-color-primary-primary-90
  );
  --tokens-primary-light-primary-container-opacity-8: var(
    --primitives-color-primary-primary-90-opacity-8
  );
  --tokens-primary-light-primary-container-opacity-12: var(
    --primitives-color-primary-primary-90-opacity-12
  );
  --tokens-primary-light-on-primary-container: var(
    --primitives-color-primary-primary-10
  );
  --tokens-primary-light-on-primary-opacity-8: var(
    --primitives-color-primary-primary-10-opacity-8
  );
  --tokens-primary-light-on-primary-opacity-12: var(
    --primitives-color-primary-primary-10-opacity-12
  );
  --tokens-primary-light-primary-fixed: var(
    --primitives-color-primary-primary-90
  );
  --tokens-primary-light-primary-fixed-dim: var(
    --primitives-color-primary-primary-80
  );
  --tokens-primary-light-on-primary-fixed: var(
    --primitives-color-primary-primary-10
  );
  --tokens-primary-light-on-primary-fixed-variant: var(
    --primitives-color-primary-primary-30
  );
  --tokens-primary-dark-primary: var(--primitives-color-primary-primary-80);
  --tokens-primary-dark-on-primary: var(--primitives-color-primary-primary-20);
  --tokens-primary-dark-primary-container: var(
    --primitives-color-primary-primary-30
  );
  --tokens-primary-dark-on-primary-container: var(
    --primitives-color-primary-primary-90
  );
  --tokens-primary-dark-primary-fixed: var(
    --primitives-color-primary-primary-90
  );
  --tokens-primary-dark-primary-fixed-dim: var(
    --primitives-color-primary-primary-80
  );
  --tokens-primary-dark-on-primary-fixed: var(
    --primitives-color-primary-primary-10
  );
  --tokens-primary-dark-on-primary-fixed-variant: var(
    --primitives-color-primary-primary-30
  );
  --tokens-secondary-light-secondary: var(
    --primitives-color-secondary-secondary-40
  );
  --tokens-secondary-light-on-secondary: var(
    --primitives-color-neutral-neutral-100
  );
  --tokens-secondary-light-secondary-container: var(
    --primitives-color-secondary-secondary-90
  );
  --tokens-secondary-light-secondary-container-opacity-8: var(
    --primitives-color-secondary-secondary-90-opacity-8
  );
  --tokens-secondary-light-secondary-container-opacity-12: var(
    --primitives-color-secondary-secondary-90-opacity-12
  );
  --tokens-secondary-light-on-secondary-container: var(
    --primitives-color-secondary-secondary-10
  );
  --tokens-secondary-light-on-secondary-opacity-8: var(
    --primitives-color-secondary-secondary-10-opacity-8
  );
  --tokens-secondary-light-on-secondary-opacity-12: var(
    --primitives-color-secondary-secondary-10-opacity-12
  );
  --tokens-secondary-light-secondary-fixed: var(
    --primitives-color-secondary-secondary-90
  );
  --tokens-secondary-light-secondary-fixed-dim: var(
    --primitives-color-secondary-secondary-80
  );
  --tokens-secondary-light-on-secondary-fixed: var(
    --primitives-color-secondary-secondary-10
  );
  --tokens-secondary-light-on-secondary-fixed-variant: var(
    --primitives-color-secondary-secondary-30
  );
  --tokens-secondary-dark-secondary: var(
    --primitives-color-secondary-secondary-80
  );
  --tokens-secondary-dark-on-secondary: var(
    --primitives-color-secondary-secondary-20
  );
  --tokens-secondary-dark-secondary-container: var(
    --primitives-color-secondary-secondary-30
  );
  --tokens-secondary-dark-on-secondary-container: var(
    --primitives-color-secondary-secondary-90
  );
  --tokens-secondary-dark-secondary-fixed: var(
    --primitives-color-secondary-secondary-90
  );
  --tokens-secondary-dark-secondary-fixed-dim: var(
    --primitives-color-secondary-secondary-80
  );
  --tokens-secondary-dark-on-secondary-fixed: var(
    --primitives-color-secondary-secondary-10
  );
  --tokens-secondary-dark-on-secondary-fixed-variant: var(
    --primitives-color-secondary-secondary-30
  );
  --tokens-tertiary-light-tertiary: var(
    --primitives-color-tertiary-tertiary-40
  );
  --tokens-tertiary-light-on-secondary: var(
    --primitives-color-neutral-neutral-100
  );
  --tokens-tertiary-light-tertiary-container: var(
    --primitives-color-tertiary-tertiary-90
  );
  --tokens-tertiary-light-tertiary-container-opacity-12: var(
    --primitives-color-tertiary-tertiary-90-opacity-8
  );
  --tokens-tertiary-light-on-tertiary-container: var(
    --primitives-color-tertiary-tertiary-10
  );
  --tokens-tertiary-light-on-tertiary-opacity-8: var(
    --primitives-color-tertiary-tertiary-10-opacity-8
  );
  --tokens-tertiary-light-on-tertiary-opacity-12: var(
    --primitives-color-tertiary-tertiary-10-opacity-12
  );
  --tokens-tertiary-light-tertiary-fixed: var(
    --primitives-color-tertiary-tertiary-90
  );
  --tokens-tertiary-light-tertiary-fixed-dim: var(
    --primitives-color-tertiary-tertiary-80
  );
  --tokens-tertiary-light-on-tertiary-fixed: var(
    --primitives-color-tertiary-tertiary-10
  );
  --tokens-tertiary-light-on-tertiary-fixed-variant: var(
    --primitives-color-tertiary-tertiary-30
  );
  --tokens-tertiary-dark-tertiary: var(--primitives-color-tertiary-tertiary-80);
  --tokens-tertiary-dark-on-tertiary: var(
    --primitives-color-tertiary-tertiary-20
  );
  --tokens-tertiary-dark-tertiary-container: var(
    --primitives-color-tertiary-tertiary-30
  );
  --tokens-tertiary-dark-on-tertiary-container: var(
    --primitives-color-tertiary-tertiary-90
  );
  --tokens-tertiary-dark-tertiary-fixed: var(
    --primitives-color-tertiary-tertiary-90
  );
  --tokens-tertiary-dark-tertiary-fixed-dim: var(
    --primitives-color-tertiary-tertiary-80
  );
  --tokens-tertiary-dark-on-tertiary-fixed: var(
    --primitives-color-tertiary-tertiary-10
  );
  --tokens-tertiary-dark-on-tertiary-fixed-variant: var(
    --primitives-color-tertiary-tertiary-30
  );
  --tokens-error-background: rgba(255, 255, 255, 1);
  --tokens-error-light-error: var(--primitives-color-error-error-40);
  --tokens-error-light-error-opacity-8: var(
    --primitives-color-error-error-40-opacity-8
  );
  --tokens-error-light-error-opacity-12: var(
    --primitives-color-error-error-40-opacity-12
  );
  --tokens-error-on-backgrou-d: rgba(255, 255, 255, 1);
  --tokens-error-light-on-error: var(--primitives-color-neutral-neutral-100);
  --tokens-error-light-error-container: var(--primitives-color-error-error-90);
  --tokens-error-light-on-error-container: var(
    --primitives-color-error-error-10
  );
  --tokens-error-dark-error: var(--primitives-color-error-error-80);
  --tokens-error-dark-error-opacity-8: var(
    --primitives-color-error-error-80-opacity-8
  );
  --tokens-error-dark-error-opacity-12: var(
    --primitives-color-error-error-80-opacity-12
  );
  --tokens-error-dark-on-error: var(--primitives-color-error-error-20);
  --tokens-error-dark-error-container: var(--primitives-color-error-error-30);
  --tokens-error-dark-on-error-container: var(
    --primitives-color-error-error-90
  );
  --tokens-neutrals-light-background: var(--primitives-color-neutral-neutral-0);
  --tokens-neutrals-light-on-background: var(
    --primitives-color-neutral-neutral-100
  );
  --tokens-neutrals-light-surface: var(--primitives-color-neutral-neutral-10);
  --tokens-neutrals-light-on-surface: var(
    --primitives-color-neutral-neutral-95
  );
  --tokens-neutrals-light-outline: var(--primitives-color-neutral-neutral-50);
  --tokens-neutrals-light-outline-opacity-75: var(
    --primitives-color-neutral-neutral-50-opacity-75
  );
  --tokens-neutrals-light-surface-variant: var(
    --primitives-color-neutral-variant-neutral-variant-90
  );
  --tokens-neutrals-light-on-surface-variant: var(
    --primitives-color-neutral-variant-neutral-variant-30
  );
  --tokens-neutrals-light-inverse-surface: var(
    --primitives-color-neutral-neutral-20
  );
  --tokens-neutrals-light-inverse-on-surface: var(
    --primitives-color-neutral-neutral-95
  );
  --tokens-neutrals-light-inverse-primary: var(
    --primitives-color-primary-primary-80
  );
  --tokens-neutrals-light-scrim: var(--primitives-color-neutral-neutral-0);
  --tokens-neutrals-light-shadow: var(--primitives-color-neutral-neutral-0);
  --tokens-neutrals-light-on-surface-10-opacity-8: var(
    --primitives-color-neutral-neutral-10-opacity-8
  );
  --tokens-neutrals-light-on-surface-10-opacity-12: var(
    --primitives-color-neutral-neutral-10-opacity-12
  );
  --tokens-neutrals-light-on-surface-95-opacity-12: var(
    --primitives-color-neutral-neutral-95-opacity-12
  );
  --tokens-neutrals-dark-background: var(--primitives-color-neutral-neutral-10);
  --tokens-neutrals-dark-on-background: var(
    --primitives-color-neutral-neutral-90
  );
  --tokens-neutrals-dark-surface: var(--primitives-color-neutral-neutral-10);
  --tokens-neutrals-dark-on-surface: var(--primitives-color-neutral-neutral-90);
  --tokens-neutrals-dark-outline: var(--primitives-color-neutral-neutral-60);
  --tokens-neutrals-dark-surface-variant: var(
    --primitives-color-neutral-variant-neutral-variant-30
  );
  --tokens-neutrals-dark-on-surface-variant: var(
    --primitives-color-neutral-variant-neutral-variant-80
  );
  --tokens-neutrals-dark-inverse-surface: var(
    --primitives-color-neutral-neutral-90
  );
  --tokens-neutrals-dark-inverse-surface-opacity-8: var(
    --primitives-color-neutral-neutral-90-opacity-8
  );
  --tokens-neutrals-dark-inverse-surface-opacity-12: var(
    --primitives-color-neutral-neutral-90-opacity-12
  );
  --tokens-neutrals-dark-inverse-on-surface: var(
    --primitives-color-neutral-neutral-20
  );
  --tokens-neutrals-dark-inverse-on-surface-opacity-8: var(
    --primitives-color-neutral-neutral-20-opacity-8
  );
  --tokens-neutrals-dark-inverse-on-surface-opacity-12: var(
    --primitives-color-neutral-neutral-20-opacity-12
  );
  --tokens-neutrals-dark-inverse-primary: var(
    --primitives-color-primary-primary-40
  );
  --tokens-neutrals-dark-scrim: var(--primitives-color-neutral-neutral-0);
  --tokens-neutrals-dark-shadow: var(--primitives-color-neutral-neutral-0);
}
